---
ip: "192.168.10.10"
memory: 1024
cpus: 1

authorize: ~/.ssh/id_rsa.pub

keys:
  - ~/.ssh/id_rsa

folders:
  - map: ~/Projects
    to: /home/vagrant/Code

sites:
  - map: biostats.dev
    to: /home/vagrant/Code/biostats/public

databases:
  - biostats
  - crdb
  - rvdb
  - sirdb

variables:
  - key: APP_ENV
    value: local
